<div class="container" style="margin-bottom: 10px;" >

</div>
<div class="container" style="margin-bottom: 10px;" >

</div>
<div class="container" style="margin-bottom: 10px;" >

</div>
<div class="container" style="margin-bottom: 10px;" >

</div>
<div class="container">
    <section style="margin: 50px">
        <form name="productForm">
            <div class="form-group">
                <label for="product_ID">Product ID</label>
                <input type="text" id="product_ID" ng-model="product.id" class="form-control"/>
                <label for="product_Name">Product Name</label>
                <input type="text" id="product_Name" ng-model="product.name" class="form-control"/>
                <label for="product_Quantity">Quantity</label>
                <input type="text" id="product_Quantity" ng-model="product.quantity" class="form-control"/>
                <label for="product_amount">Amount</label>
                <input type="text" id="product_amount" ng-model="product.amount" class="form-control"/>
                <label for="product_Description">Description</label>
                <input type="text" id="product_Description" ng-model="product.description" class="form-control"/>
                <button type="submit" class="btn btn-primary" ng-click="addProduct(product)">Add/Update Product</button>
            </div>
        </form>
    </section>
</div>